* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* HELPERS */
.flex {
  display: flex;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

/* GALLERY PAGE */
.gallery-header {
  background-color: lightgray;
  height: 9rem;
}

.gallery-header nav {
  background-color: rgba(168, 43, 43, 0.664);
  height: 4.2rem;
}

.logo {
  color: lightgray;
  font-family: monospace;
  font-size: 3.6rem;
  padding-inline-start: 3rem;
}

.filter-imgs {
  margin-top: 1.5rem;
  margin-inline-start: 3rem;
  width: 14rem;
  height: 1.6rem;
  background: transparent;
  border: none;
  outline: transparent;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.gallery-container main {
  background-image: linear-gradient(rgba(255, 0, 0, 0.568) ,rgba(168, 43, 43, 0.664));
}

.imgs-container {
  flex-wrap: wrap;
  padding-inline-start: 2.45rem;
}

.img-wrapper {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.imgs-container img {
  cursor: pointer;
  width: 250px;
  height: 250px;
}

.imgs-container img:hover {
  width:  260px;
  height: 260px;
}

.gallery-container footer {
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

.footer-content {
  text-align: center;
}

.footer-content .logo{
  padding: 2rem 0;
  color: rgba(168, 43, 43, 0.664);
  padding-inline-start: 0;
}

.footer-content p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 1.5rem ;
}



/* EDITOR PAGE */
.editor-container {
  display: none;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  justify-content: space-between;
  padding-inline-end: 1.5rem;
}

.canvas-container {
  max-width: 50%;
  max-height: 80%;
  margin-inline-start: 1.5rem;
} 

.editor {
  /* max-width: 50vw; */
  display: grid;
  grid-template-areas: 
  " meme-txt meme-txt meme-txt meme-txt meme-txt"
  " . switch-line add-line trash . "
  " font-up font-down align-left align-center align-right"
  " font-type font-type font-type stroke-color txt-color"
  " . download download download ."
  ;
  gap: 8px;
}

.meme-txt {
  grid-area: meme-txt;
}

.meme-txt input {
  width: 90%;
  height: 60%;
  font-size: 1.8rem;
}

.trash {
  grid-area: trash;
}

.add-line {
  grid-area: add-line;
}


.switch-line {
  grid-area: switch-line;
}

.font-up {
  grid-area: font-up;
}

.font-down {
  grid-area: font-down;
}

.align-left {
  grid-area: align-left;
}

.align-center {
  grid-area: align-center;
}

.align-right {
  grid-area: align-right;
}

select {
  grid-area: font-type;
  height: 35%;
  font-size: 1.3rem;
  font-family: Impact;
}

.stroke-btn {
  grid-area: stroke-color;
}

.txt-color {
  grid-area: txt-color;
}

.download {
  grid-area: download;
}

.download a {
  font-size: 2rem;
  text-decoration: none;
  color: lightgray;
  background-color: rgba(168, 43, 43, 0.664);
  padding: 0.3rem;
  border-radius: 20px;
}

.icon-btn {
  cursor: pointer;
  width: 60px;  
  height: 60px; 
}

button {
  outline-style: hidden; 
}

.editor-container button {
  border-radius: 20px;
}

input[type=color] {
  cursor: pointer;
  opacity: 0;
  width: 60px;  
  height: 60px; 
  margin-right: -60px;
}


@media (max-width: 990px) {
  .canvas-container {
    min-width: 30%;
    min-height: 60%;
    margin-inline-end: 10px;
  } 
  .icon-btn {
    width: 40px;  
    height: 40px;    
  }
}


@media (max-width: 660px) {
  .editor-container {
    flex-direction: column;
    padding: 0 10px;
  }
  .editor {
    margin-top: 1rem;
    padding-inline-start: 1.5rem;
  }
  .canvas-container {
    min-width: 90%;
    min-height: 20%;
  } 
  .editor-container button {
    border-radius: 10px;
  }
}